.backgroundLeaves {
  background-image: url("/foliage.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.adminSelect {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-overflow: "";
}
